/Testing/*
/Development/BattleShips/Doc/*
/Development/BattleShips/GUI/*
/Development/BattleShips/Maps/*
/Development/BattleShips/Packages/*
/Development/BattleShips/Simulator/*
/Development/BattleShips/Source/*
/Development/BattleShips/BattleShips/target/*