<?xml version="1.0" encoding="utf-8" ?>
<TATPROJECT info="" leader="" name="" title="" user="" version="" workdir="" >
 <CONFIG base="" comment="" name="default" >
  <INSTANCES>
   <INSTANCE annotation="" comment="" name="IUT" priority="100" type="model" />
   <INSTANCE annotation="" comment="" name="Test" priority="100" type="env" />
  </INSTANCES>
  <SIGNALS>
   <SIGNAL annotation="" comment="" name="A" paramstype="C" type="in">
    <PARAMETER annotation="" comment="" field="Param1" type="Array3" />
   </SIGNAL>
   <SIGNAL annotation="" comment="" name="B" paramstype="C" type="out">
    <PARAMETER annotation="" comment="" field="Param1" type="Array3" />
   </SIGNAL>
  </SIGNALS>
  <DATATYPE>
   <TYPEDEF name="Array1" type="int" dimension="2">
   </TYPEDEF>
   <TYPEDEF name="Array2" type="Array1" dimension="2">
   </TYPEDEF>
   <TYPEDEF name="Array3" type="Array2" dimension="2">
   </TYPEDEF>
  </DATATYPE>
 </CONFIG>
</TATPROJECT>